<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Scripts/jquery-easyui-1.4.3/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-easyui-1.4.3/themes/icon.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Admin/CSS/Common.css" rel="stylesheet" />
    @RenderSection("Style",false)
</head>
<body>
    <div class="main">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("/Scripts/jquery-easyui-1.4.3/jquery.easyui.min.js")
    @Scripts.Render("~/Scripts/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js")
    <script src="~/Scripts/jquery-easyui-1.4.3/resizeDataGrid.js"></script>
    <script src="~/Scripts/jquery-easyui-1.4.3/ValidateExt.js"></script>
    <script src="~/Scripts/Admin/DataGridExt.js"></script>
    <script src="~/Scripts/FormExt.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    @RenderSection("Script",false)
</body>
</html>
